* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
gradlew text eol=lf

*.aar binary
*.apk binary
*.icns binary
*.ico binary
*.jar binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
